* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
}

/* Header  */

.header {
    height: 200px;
    width: 100vw;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.header-text{
    display: flex;
    padding: 2px;
    align-items: center;
    align-content: start;
}

.header-text h1{
    padding-left: 500px;

}

.header-links{
    font-size: 10px;
    display: inline;
    color: black;
    display: flex;
    justify-content: space-between;
    padding-right: 500px;
    cursor: pointer;
}

.header-links h1{ 
    padding: 10px;
}

/* Hero  */

.hero {
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text {
    height: auto;
    width: auto;
}

.title {
    font-size: 48px;
    font-weight: 900;
    height: 150px;
    width: 500px;
    padding-bottom: 50px;
    padding-right: 10px;
}

.para {
    font-size: 18px;
    height:100px;
    width: 500px;
}

.btn {
    height: 50px;
    width: 100px;
    background-color: #3882F6;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
}

.hero-img img {
    width:500px;
    height:300px;
}

/* info */
.information {
    height: 500px;
    width: 100wh;
    text-align: center;
    padding: 50px;
}

.info-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-title h1 {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}

.boxes {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 50px;
}

.box-content{
    height: 300px;
}

.box-content p {
    color: #1F2937;
    font-size: 18px;
}

.card {
    border: 5px solid #3882F6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-content: space-evenly;
    width: 200px;
    height: 200px;
}

/* quote  */

.quote-container {
    background-color: #E5E7EB;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center; 
}


.quote-text {
    height: 150px;
    width: 500px;
    text-align: center;
}

.quote-text p{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937
}

.quote-text h1{
    font-size: 26px;
    color: #1F2937
}

/* call to action  */

.cta-container {
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.cta-box {
    background-color: #3882f6;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
}

.cta-box h1 {
    font-weight: 900;
    font-size: 36px;
    font-style: italic;
    height: 30px;
}

.cta-box p {
    font-size: 16px;
    font-weight: bold;
}

.cta-text {
    font-size: 24px;
    padding-right: 10px;
}

.cta-text h1{
    height: 50px;
}

.cta-btn {
    background-color: #3882F6;
    border: 2px solid white;
    font-size: 36px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width:200px;
}

/* copyright */

.copyright {
    width: 100vw;
    height: 100px;
    background-color: #1F2937;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright h1 {
    font-size: 12px;
}